body{
    background-color: rgb(215, 242, 243);
}

h1{
    color:rgb(221, 94, 66);
    text-align: center;
}

h2{
    color: rgb(221, 94, 66);
    text-align: center;
}

h3{
    color:rgb(221,94,66);
    text-align: left;
}

p{
    font-family: Arboria;
    font-size: 20px;
    text-align: center;
}

#AGHU{
    font-size:40px;
}

.th{
    align-items: center;

}

#sobreaghu{
    font-size: x-small;
    text-align: right;
    margin: auto;
    display: block;
}

#modulo{
    font-size: x-small;
    text-align: right;
}

#logopmd{
    float:top; 
    text-align: center;
    margin: auto;     
    display: block;
    border: 1px;
    padding: 5px;
}

#logoaghu{
    float: top;
    text-align: center;
    margin: auto;
    display: block;
    border: 1px;
    padding: 5px;    
    max-width: 200px;
}

.divaghu{
    float: top;
    text-align: center;
    margin: auto;
    display: block;
    border: 1px;
    padding: 5px;    
    max-width: 200px;
}

div{
    align-items: flex-end;    
}

#tbaghu{
    margin: auto;
    -webkit-display:flex;
    display: flex;
    -webkit-alignt:center; 
    align-items: center;
    -webkit-justify-content:center;
    justify-content: center;
}

#referencia{
    font-size: 18px;
    color: brown;
}

style
/*Link não visitado */
a:link{
    color:green;
    text-decoration: none;
}

/*Link já visitado*/
a:visited{
    color:blue;
    text-decoration: none;
}

/*Quando o mouse passa por cima */
a:hover{
    color:brown;
    text-decoration: none;
}

/*Link ativo/selecionado */
a:active{
    color:yellow;
    text-decoration: none;
} 

.row /*linha*/{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card /*estilização do CARD https://css3gen.com/box-shadow/ */{
    border-radius: 5px;
    box-shadow: 18px 18px 15px 0px rgba(50, 50, 50, 0.65);
    padding: 20px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;

}

.card:hover /*efeito ao passar o mouse por cima */{
    transform: translateY(-5px);
    cursor: pointer;
}

.card p /*parágrafo do ponto P */{
    color: #a3a5ae;
    font-size: 16 px;
}

.image /*ajustes da imagem */{
    float: left;
    max-width: 64px;
    max-height: 64px;
}

.green /*atributos .green */{
    border-left: 3px solid #3bb54a;
}

.div1{    
    width: 600px;
    background-color: aliceblue;
}

.div2{
    width: 600px;
    background-color: aliceblue;
}

.btn-fixed /*btn para referência topo */{
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;;
}

.btn-fixed.visible{
    visibility: visible;
}

.textomouse:hover /*ícone ao passar mouse por cima */{
    transform: translateY(-5px);
    cursor: pointer;
}

#pdf{    
    margin-left: auto;
    margin-right: 500px;    
    width: 20em;    
}